on: [push]

name: Build Docker images

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
  DOCKER_ORGANIZATION: philipssoftware
  GITHUB_ORGANIZATION: philips-software

jobs:
  build_ort:
    name: ort
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.3
      with:
        submodules: recursive
    - name: Build Docker Images with Oss Review Toolkit 
      uses: philips-software/docker-ci-scripts@v2.2.2
      with:
        dockerfile: latest/ort
        image-name: ort
        tags: latest 2021-03-03

    - uses: philips-labs/tern-action@tern-latest
      id: scan
      with:
        image: philipssoftware/ort:2021-03-03
        format: json
        output: node-2021-03-03.json
    - uses: actions/upload-artifact@v2
      with:
        name: tern
        path: ${{ steps.scan.outputs.file }}
